<div class="Sidebar">
    <fieldset>
        <legend>Depot</legend>

        <select onchange="UpdateDepot()" id="DepotSelect">
            <option
                disabled="disabled"
                selected="selected"
                value="Select Database"
            >
                Select Depot
            </option>
            <option
                hx-post="/api/depot/list"
                hx-trigger="htmx:afterProcessNode"
                hx-history="false"
                hx-swap="outerHTML"
            ></option>
        </select>
        <button
            hx-post="/api/depot/Recalculate"
            hx-swap="innerHTML"
            hx-trigger="click"
        >
            R
        </button>

        <div
            id="Btn_NewContainer"
            hx-target="#NwContainerContainer"
            hx-swap="outerHTML"
            hx-trigger="click once"
            hx-get="/a/components/CreateContainerModal.html"
        >
            New Container
        </div>

        <!-- <div class="DataShow"> -->
        <!-- Show the data for the selected table -->
        <!-- <label>Name</label><input disabled="disabled" type="text" value="nil">
            <label>Location</label><input disabled="disabled" type="text" value="nil">
        </div> -->
    </fieldset>
    <script>
        globalThis.DC = {
            DepotID: localStorage.getItem("PD_Depot"),

            init: function () {
                (nm = localStorage.getItem("PD_Depot")),
                    (DepotSelect = document.getElementById("DepotSelect"));
                console.log(`DP${nm}`);
                // Check a value is saved
                if (nm != "") {
                setTimeout(() => {
                        // Check items exist
                        let item = DepotSelect.options.namedItem(`DP-${nm}`)

                        console.log(item != undefined)
                        if (item != undefined) {
                            item.selected = "selected";
                        } else {
                            this.SelectedDepot = "";
                        }
                    }, 500);
                }
                return nm;
            },

            get SelectedDepot() {
                console.log("GOT DP", DepotID);
                return DepotID;
            },
            set SelectedDepot(name) {
                console.log("UPDATED LS", name);
                DepotID = name;
                localStorage.setItem("PD_Depot", name);
            },
        };
        DC.init();

        function UpdateDepot() {
            console.log("Started");
            ds = document.getElementById("DepotSelect");
            DC.SelectedDepot = ds.value;
        }
    </script>
</div>
<div id="NwContainerContainer"></div>
